body {
  background-color: #EBF5FB;
}

h1 {
	font-family: "Montserrat";
}

p {
	font-family: "Open Sans";
}

.title {
  color: #CB4335;
  text-align: center;
  font-family: "Montserrat";
}

.title a:link {
	text-decoration: none;
	color: #CB4335;
}

.title a:visited {
	text-decoration: none;
	color: #CB4335;
}

.title a:hover {
	text-decoration: none;
	color: #C94133;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.robotpic {
	height: 500px;
}

.entertext {
  font-family: "Open Sans";
}

.logo {
	height: 140px;
}

.footer {
	font-family: "Montserrat";
}

.tablemenu  {
	font-family: Open Sans";
}
