body {
  background-color: #EBF5FB;
}

.title {
  color: #CB4335;
  text-align: center;
  font-family: "Montserrat"
}

.title a:link {
	text-decoration: none;
	color: #CB4335;
}

.title a:visited {
	text-decoration: none;
	color: #CB4335;
}

.title a:hover {
	text-decoration: none;
	color: #C94133;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.entertext {
  font-family: "Open Sans"
}


