body {
  background-color: #000000;
}

.title {
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat"
}

.content {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
