{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<textarea ROWS="3" COLS="42" ID="output" NAME="output" readonly="readonly" style="font-size: 20pt">What’s crackin’?</textarea>

  <form action="chat" method="POST">
  <br>
	<center class="entertext">Send Message:<br/></center>
	
	<form name="input">
	<input TYPE="text" SIZE="61" ID="userInput" NAME="userInput" maxlength="255" value="" style="font-size: 15pt" autofocus/> <br/>
	</form>
	
	<!--
    <!-- When commenting stuff out, comment with reason why + name -Ningsong
    <!-- Or it'll get messy soon 
    
	<div align="right">
		<input TYPE="submit" style="font-family:Arial Black;font-size:12px;color:#616161" VALUE="Send">
	</div>
	-->
	
    <!-- Good enough for now, but maybe include javascript file with all functions, and link in layout.html -Ningsong -->
	<script>
		window.onload = function() {
		document.getElementById("userInput").focus();
		}
	</script>
	
  <form action="hello.py">
{% endblock %}