{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<textarea ROWS="3" COLS="35" ID="output" NAME="output" readonly="readonly" style="font-size: 20pt">
What’s crackin’?
</textarea>

  <form action="chat" method="POST">
  <br>
	<center class="entertext">Send Message:<br/></center>
	<input TYPE="text" SIZE="61" ID="userInput" NAME="userInput" maxlength="255" value="" style="font-size: 15pt"/><br/>
	<div align="right">
		<input TYPE="submit" style="font-family:Arial Black;font-size:12px;color:#616161" VALUE="Send">
	</div>
  <form action="hello.py">
{% endblock %}